{% extends "base.html" %} 
{% block title %}{{ ttl }} {% endblock %} 
{% block content %}


<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a href="/information" class="nav-link " id="home"><b><i style="color: whitesmoke;margin-left:15px" class="fa-solid fa-arrow-left"></i></b></a>
        </li>
    </ul>
</nav>
<br>
<div class="row ms-4 me-4 mt-1">
    <div class="col-sm-12 mb-3 mb-sm-0">
        <h3><strong>Faktor yang Dapat Menyebabkan Terkena Kanker Melanoma</strong></h3>
        <br>
        <div class="card">
            <div class="card-body">
                <br>
                <p style="text-align: justify;">
                    &nbsp Ada beberapa faktor yang dapat menyebabkan seseorang terkena kanker melanoma yaitu:
                </p>
                <ol type="a" class="ms-2">
                    <li>Riwayat sengatan matahari dan/atau paparan sinar matahari yang berlebihan. Sinar UV bisa berasal dari matahari atau saat sedang melakukan proses tanning dengan tanning beds.</li>
                    <li>Melanocytic Nevus, atau salah satu dari tumor berpigmen yang jinak. Biasanya mulai terlihat hanya pada anak-anak dan remaja. Nevus Melanotik ini sebenarnya tidak berbahaya, tetapi jika jumlahnya banyak hingga >100 nevi tipikal dan bentuk tidak beraturan, memiliki kemungkinan melanoma.</li>
                    <li>Memiliki mata biru atau hijau, rambut pirang atau merah, warna kulit cerah.</li>
                    <li>Riwayat keluarga menderita melanoma.</li>
                    <li>Pernah menderita melanoma sebelumnya.</li>
                    <li>Immosupresi:sistem imun dalam keadaan lemah atau sedang mendapat terapi obat yang menekan sistem imun.</li>
                    <li>Usia rata-rata diagnosis adalah 63 tahun, dengan 15% kurang dari 45 tahun%.</li>
                    <li>Mutasi p16.</li>
                    <li>Genetik (mutasi gen CDKN2a, CDK4, POT1 dan TERT).</li>
                </ol>
                <p style="text-align: justify;">
                    &nbsp Varian ALM subungual atau bawah kuku biasanya terjadi pada ibu jari atau jempol kaki, memiliki karakteristik, yaitu :
                </p>
                <ol type="a" class="ms-2">
                    <li>Tampak sebagai perubahan warna coklat menjadi hitam atau pertumbuhan pada bantalan kuku.</li>
                    <li>Garis kuku longitudinal yang melebar, gelap, atau berpigmen tidak teratur (melanonychia striata) dengan atau tanpa distrofi kuku dan elevasi lempeng kuku dapat terlihat.</li>
                    <li>Tanda Hutchinson, ditemukannya pigmentasi pada lipatan kuku bagian proksimal, dapat ditemukan dengan melanoma subungual.</li>
                </ol>
            </div>
        </div>
    </div>
</div>

{%endblock%}