{% extends "base.html" %} 
{% block title %}{{ ttl }} {% endblock %} 
{% block content %}

<div class="container-fluid py-3">
    <center>
        <h3>
            <img src="{{url_for('static', filename='File.png')}}" style="width: 60px;"/> <b>Deteksi Kanker</b>
        </h3>
    </center>
    <br><br>
    
    <center>
        <table style="margin-top: 190px;">
            <tr>
                <td>
                    <center>
                        <a href="/detect" style="margin-right:10px">
                            <button style="width: 230px; padding-top: 10px; padding-bottom: 32px;padding-left:8px" class="btn btn-primary btn-md">
                                <b>SCAN</b><br>
                                <p>Mulai Scan Kulitmu</p>
                            </button>
                        </a>
                    </center>
                </td>
                <td>
                    <center>
                        <a href="/information" style="margin-left:10px">
                            <button style="width: 230px; padding-top: 10px; padding-bottom: 10px;" class="btn btn-primary btn-md">
                                <b>INFORMASI</b><br>
                                <p>Cari Informasi Tentang <br> Kanker</p>
                            </button>
                        </a>
                    </center>
                </td>
            </tr>
        </table>
    </center>
</div>


{%endblock%}